ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
   
}
.productos{
    width: 280px;
    height: 550px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    display: flex;
    color: black;
    border-radius:  16px;
    box-shadow: 1px 10px 10px 2px rgb(0, 0, 0, .2);
    border: 6px solid transparent;
 
}

.image{
    width: 250px;
    height: 350px;
    border-radius: 12px;
    display: block;
    margin: auto;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgb(0, 0, 0, .3);
    border: 6px solid transparent;
    border-radius: 5px;
    width: 150px;

}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 10px 0 0 0;
    margin: 5px;
    
}
.price{
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    
    
    
    
}
.type{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    padding: 5px;
    
    
}

button{
    height: 30px;
    width: 120px;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none;
    outline: 0;
    cursor: pointer;
    background-color: #cb4cdc7b;
    border-radius: 15px;
}
