ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
   
}
.productos{
    width: 280px;
    height: 620px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    display: flex;
    color: black;
    border-radius:  16px;
    box-shadow: 1px 10px 10px 2px rgb(0, 0, 0, .2);
    border: 6px solid transparent;
 
}

.product__image{
    width: 250px;
    height: 350px;
    border-radius: 12px;
    display: block;
    margin: auto;

}
.product__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgb(0, 0, 0, .2);
    border: 6px solid transparent;
    border-radius: 5px;
    width: 300px;

}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 10px 0 0 0;
    margin: 20px;
    
}
.product__price{
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    
    
    
    
}
.product__type{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    padding: 5px;
    
    
}

button{
    height: 25px;
    width: 130px;
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none;
    outline: 0;
    cursor: pointer;
    background-color: #cb4cdc7b;
    border-radius: 15px;
}
